body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.vertical-line {
  border: none !important;
  background-color: #000; /* Line color */
  width: 1.5px !important; /* Line width */
  height: 40px !important; /* Adjust the height of the line */
  opacity: 0.2;
}

.main-container{
  padding-right: 0px !important;

}

.main-title{
  position: absolute;
  top:200px;
  font-weight: bold !important;
  color: #fff;
}